<div class="container inner">
  <div class="row mx-auto">
    <%= render 'shared/sidenav' %>
    <div class="col-12 col-lg-8">
      <h3>アカウント</h3>
      <table class="table">
        <tbody>
          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th>パスワード</th>
            <td><%= @user.password %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to "編集", edit_user_registration_path, class: "btn btn-light" %>
    </div>
  </div>
</div>
