/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Quicksand&display=swap');

body {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.inner {
  padding: 60px 0 100px;
}

img {
  width: 100%;
}

a {
  text-decoration: none !important;
  color: black;
}

h3 {
  font-size: 22px;
}

.notice {
  background: #dfb7c5;
  color: #fff;
  margin: 0;
}

/* Header */

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .15) !important;

  .header-left {
    display: flex;
    align-items: center;

    h1 {
      margin-right: 30px;
      font-size: 22px;
    }

    .header-search {
      display: flex;

      :first-child {
        margin-right: 10px;
      }
    }
  }
}

.nav-items-right {
  display: flex;
}

.user-name {
  margin-left: 20px;
}

.user-image img {
  width: 100%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.home-search {
  background-color: #e9ecef !important;
  border: none !important;
}

/* User登録 */
.sign-up .field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.required-field::before {
  content: "必須";
  color: white;
  background-color: #ff0000a8;
  border-radius: 5px;
  font-size: 12px;
  padding: 3px 5px;
  margin-right: 5px;
  white-space: nowrap;
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
