// Index
.card-inner {
  border: 1px solid #eaedef;
}

.room-reserve {
  border: 1px solid #eaedef;
  padding: 15px;
}

.room-reserve input {
  width: 100%;
}

// New
.room-new {
  border: 1px solid #eaedef;
  padding: 20px 10px;
}

.room-input-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #eaedef;
  padding: 15px 20px;
}

.room-img {
  width: 280px;
}

.form input,
.form textarea {
  border: 1px solid #eaedef;
  padding: 10px 0;
}

// Posts
.room-posts table thead tr th {
  padding: 10px
}

.room-posts table tbody tr td {
  padding: 10px;
}

.room-posts img {
  max-width: 280px;
}
